/*.tar.xz
/*.tmp
*~

/x86_64/*
!/x86_64/etc
/x86_64/etc/*
!/x86_64/etc/kernels
!/x86_64/etc/portage
/x86_64/etc/portage/*
!/x86_64/etc/portage/package.*
!/x86_64/var
/x86_64/var/*
!/x86_64/var/lib
/x86_64/var/lib/*
!/x86_64/var/lib/portage
/x86_64/var/lib/portage/*
!/x86_64/var/lib/portage/world

/i686/*
!/i686/etc
/i686/etc/*
!/i686/etc/kernels
!/i686/etc/portage
/i686/etc/portage/*
!/i686/etc/portage/package.*
!/i686/var
/i686/var/*
!/i686/var/lib
/i686/var/lib/*
!/i686/var/lib/portage
/i686/var/lib/portage/*
!/i686/var/lib/portage/world

